@import "tailwindcss";

#mobileNavbar {
    z-index: 9999 !important;
  }

  /* override slick z-index */
/* Overriding ALL react-slick elements z-index and position */
.slick-list,
.slick-track,
.slick-slide,
.slick-slider,
.slick-initialized {
  z-index: 0 !important;
  position: relative !important;
}

